.container{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
    height: 100vh;
}

.innerForm{
    width: 50vh;
    height: 30vw;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 20px rgba(98, 98,98,0.24),
     -10px -10px 20px rgba(111,110,110,0.322);
     border-radius: 20px;
     border-bottom: 10px solid rgb(46, 102, 254);
}
.head{
    border-bottom: 3px solid rgba(0, 113, 225, 0.4);
}

.enter{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lab1{
    margin: 20px 10px;
    text-transform: capitalize;
}
.inp1{
    border: none;
}
